In [3]:
emp_sal = {"emp1":10000 , "emp2":20000, "emp3": 25000}

user_name = input("enter your name:")
tenure = int(input("enter tenure:"))

if tenure > 10:
    bonus = emp_sal[use_name]*0.2
elif tenure > 5:
    bonus = emp_sal[user_name]*0.1
else:
    bonus = 0
    remaining = 5-tenure
    print("number of year remaining before bonus", remaining)
    
print("final salary", emp_sal[user_name]+bonus)

enter your name:emp1
enter tenure:8
final salary 11000.0

In [6]:
emp_sal ={"emp1" : 100000, "emp2" : 200000, "emp3" : 300000}

user_name = input("enter name: ")
tenure = int(input("tenure: "))

if tenure > 5:
    bonus = emp_sal[user_name]*0.5
elif tenure > 2:
    bonus = emp_sal[user_name]*0.3
else:
    bonus=0
    print("number of year remaining before bonus", remaining)
print("final salary", emp_sal[user_name]+bonus)

enter name: emp2
tenure: 5
final salary 260000.0

In [7]:
#.format
a=1000
b=5000
c=2000
"the vale of a is {}, and b is {}, and c is {}".format(a,b,c
                                                      )

'the vale of a is 1000, and b is 5000, and c is 2000'

In [ ]:
#level 1 - arcade, puzzle and quiz
#level 2 - 3 games each a1,a2, a3, p1,p2,p3,q1,q2,q3
#level 3 - multiplayer or single

In [ ]:
user_input_l1 = input("enter category : Arcade, puzzle, or quiz: ")

if user_input_l1=="arcade":
    #action
elif user_input

In [1]:
int1 = int(input("first number"))
int2 = int(input("second number"))
operation = input("operation:")

first number3
second number4
operation:A

In [ ]:
try:
    if operation in ['+','-','*'.'/']
    if operation=='+':
        try:
            answer = int1+int2
        except:
            print("")
    else:
        print("wrong operation")

In [3]:
n=int(input("enter a no"))
sum1=0
while(n>0):
    sum1=sum1+n
    n=n-1
print("the sum of first n natural number is", sum1)

enter a no3
the sum of first n natural number is 6

In [10]:
num=int(input("enter a number"))
cub=num*num*num
print("cube of {} is {}".format(num,cub))

enter a number2
cube of 2 is 8

In [16]:
#1 program
n=int(input("enter the number of intergers you want: "))
sum_of_n=0
print(f"first {n} natural number are-")
for i in range(1,n+1):
    print(i)
    sum_of_n += i #this means sum_of_n = sum_of_n+i
print(f"sum of first {n} natural number is = {sum_of_n}")

enter the number of intergers you want: 2
first 2 natural number are-
1
2
sum of first 2 natural number is = 3

In [18]:
n=int(input("enter a number of integer:"))
sum_of_n=0
print(f"first {n} natural no are-")
for i in range(1,n+1):
    print(i)
    sum_of_n += i
print(f"sum of first {n} natural no is = {sum_of_n}")

enter a number of integer:2
first 2 natural no are-
1
2
sum of first 2 natural no is = 3

In [19]:
n=int(input("enter a number of integer: "))
sum_of_n=0
print(f"cube of first {n} natural no are-")
for i in range(1,n+1):
    print(f"cube of {i}={i ** 3}")
    sum_of_n=i ** 3
print(f"sum of cunbe of first {n} natural number is = {sum_of_n}")

enter a number of integer: 2
cube of first 2 natural no are-
cube of 1=1
cube of 2=8
sum of cunbe of first 2 natural number is = 8