input from user

In [12]:
fname = input ( "enter your first name: " )
lname = input( "enter your last name: " )
print( "your first name is-", fname, " and your last name is -", lname )

enter your first name: Gourav Negi
enter your last name: Negi
your first name is- Gourav Negi  and your last name is - Negi

In [37]:
print( "you have entered -", name, sep = " 0 ")

you have entered - 0 Gourav

In [5]:
#formatted string
print( f"your first name is - {fname} and your last name is - {lname}" )

your first name is - gourav and your last name is - negi

Data Type - is a classification which tells the interpreter what kind of data a variable is holding

Type of Data -

1-Numeric - a) int, b)float

2-string

3-list

4-tuple

5-set

6-dictionary

7-boolean

In [17]:
name = "Gourav" #this variable holds String datatype
type(name) #this function tells us about the datatype of the variable

str

In [19]:
num1 = 12
type(num1)

int

In [21]:
num2 = 67.9 
type(num2)

float

comment - are used to explain code and makes the code more readable

In [22]:
name = "Gourav" #this variable holds String datatype
type(name) #this function tells us about the datatype of the variable

str

type conversion - converting one data type to another one

In [7]:
num1 = "23"
print(f"type of num1 before conversion is - {type(num1)}" )
num1 = int(num1) #this will convert the string to int datatype
print(f"type of num1 after convertion is - {type(num1)}" )

type of num1 before conversion is - <class 'str'>
type of num1 after convertion is - <class 'int'>

In [27]:
num1 = "23"
print(f"type of num1 before conversion is - {type(num1)}" )
num1 = int(num1) #this will convert the string to float datatype
print(f"type of num1 after convertion is - {type(num1)}" )

type of num1 before conversion is - <class 'str'>
type of num1 after convertion is - <class 'int'>

In [29]:
num1 = input("enter a number: ") #by default the input type in python is striin
num2 = input("enter a number: ")
print(num1 + num2)

enter a number: 25
enter a number: 25
2525

In [41]:
num1 = int( input("enter a number: ")) #by default the input type in python is striin
print(f"type of num1 is - {type(num1)}" )

enter a number: 25
type of num1 is - <class 'int'>

In [48]:
#wap to take input of three number from user and print the sum of the numbers
num1 = int( input("enter a number"))
num2 = int( input("enter a number"))
num3 = int( input("enter a number"))
print(f"the sum of {num1}, {num2}, {num3} = {num1+num2+num3}")

enter a number25
enter a number25
enter a number25
the sum of 25, 25, 25 = 75

strings

In [49]:
print("hello world")

hello world

In [56]:
print("Rahul Said, I'll be on leave today")

Rahul Said, I'll be on leave today

In [62]:
# rahul said , "I'LL be on leave today"
print('''rahul said, "I'll be on leave today"''')

rahul said, "I'll be on leave today"

In [63]:
# rahul said , 
# I'LL be on leave today
var1 = """Rahul said,
I'll be on leave today"""
print(var1)

Rahul said,
I'll be on leave today

String Length

In [110]:
name = "i have dog here name is robin"
l=len(name)
print(l)

29

check for a word or phrase in an string

In [15]:
name = "i like to code in python"
namel = "like" in name #is willsearch for "code" in name and will return true or false accordingly
print(namel)

True

indexing in string

# Indexing

In [1]:
name = "i like to code in python"

#print the first character
#in order to print the first character the index starts from 0 and goes till len-1
print(name[0])
print(name[4]) #this will return the character at position 5
print(name[7])

#if index is n then position is n+1
#if position is n then index is n-1

i
k
t

In [32]:
abc = "i like to code in python"
# print(abc[5])
# print(abc[15])
# print(abc[11])
#print(abc[:])
#print(abc[::])
#print(abc[:0:8])
#print(abc[0:1:])  # this 3 :colan means ,start,stop,step

i

In [21]:
name= "i like to code in python"
#range of values
print(name[3:9]) #this will print characters from index 3 till n-1 i.e., 7
print(name[:8]) #this will print characters from index 0 till n-1 i.e,. 8 as no starting index means 0
print(name[7:]) #this will print characters from index 7 till last as no end index means last value

ike to
i like t
to code in python

In [22]:
name = "i like to code in python"
print(name[-1]) #this will print the last character
print(name[-6]) #this will print the last 6th character

n
p

modify the string

In [34]:
name = "python is a computer language"
print(name.upper()) #this will convert the string to upper case

PYTHON IS A COMPUTER LANGUAGE

In [35]:
name = "PYTHON IS THE LANGUAGE OF COMPUTER"
print(name.lower()) #this will convert the string to upper case

python is the language of computer

remove whitespace from string

In [134]:
name = "     i like to code in python    "
print(f"you have typed - {name.strip()}, is this correct")

you have typed - i like to code in python, is this correct

replace a word or character from a string

In [137]:
name = "hello world"
name=name.replace("h","j").replace("w","k").replace("d","y")
print(name)

jello korly

In [49]:
name = "hello world, how are you, hello world,?"
name = name.replace("h", "j", 3) #replace h with j but only the first occurence
print(name)

jello world, jow are you, jello world,?

split the string

In [144]:
name = "hello world how are you?"
name.split() #this will split the string from space, by default te split is from space

['hello', 'world', 'how', 'are', 'you?']

In [143]:
name = "ankit,developer, 50000, 24"
name.split(",") #this will split the string from comma

['ankit', 'developer', ' 50000', ' 24']

List

1.List is used to Store multiple items of either or different datatype in a single variable
2.list is created using square bracker []
3.list items are ordered
4.List allow duplicate items in it.

In [148]:
fruits = ["apple", "banana", "mango", "cherry", "cherry", "mango"]
print(fruits)

['apple', 'banana', 'mango', 'cherry', 'cherry', 'mango']

In [45]:
m = ["apple", "banana", 2.5, 3.6, 5, 6 ]
print(m)

['apple', 'banana', 2.5, 3.6, 5, 6]

In [47]:
type(m[2])

float

In [1]:
fruits = ["apple", "banana", "mango", "cherry", "cherry", "mango"]
fruits[1] = "pineapple"
fruits

['apple', 'pineapple', 'mango', 'cherry', 'cherry', 'mango']

In [60]:
cat = [2,8,2,5,6,89,87,95,25,98,58,5,7,10,85]
cat.reverse()
cat

[85, 10, 7, 5, 58, 98, 25, 95, 87, 89, 6, 5, 2, 8, 2]

In [61]:
cat = [2,8,2,5,6,89,87,95,25,98,58,5,7,10,85]
cat.sort()
cat

[2, 2, 5, 5, 6, 7, 8, 10, 25, 58, 85, 87, 89, 95, 98]

In [3]:
cat = [2,8,2,5,6,89,87,95,25,98,58,5,7,10,85]
sorted(cat,reverse=True)

[98, 95, 89, 87, 85, 58, 25, 10, 8, 7, 6, 5, 5, 2, 2]