Nested if

In [1]:
age = int(input("enter your age: ") )

if( age >=18 ): #outer if
    if( age <= 65 ):#inner if
        print( "your are eligible to drive" )
        
    else:
        print( "you are not eligible to drive as your age is > 65" )
        
else:#else part of outer if
    print( "you are not eligible to drive as your age is < 18" )

enter your age: 55
your are eligible to drive

In [2]:
#wap to check if a year is leap year or not
year = int(input("enter the year: "))

if (year % 100==0):
    if (year % 400==0):
        print(f"{year} is a century year as well as leap year")
    else:
        print(f"{year} is a century year not a leap year")

else:
    if(year % 4==0):
        print(f"{year} is a leap year")
        
    else:
        print(f"{year} is a normal year")

enter the year: 2024
2024 is a leap year

In [12]:
year = int(input("enter the year : "))

if (year % 100 ==0):
    print("{year}is a century year")
    
    if(year % 400==0):
        print("{year}is a  not century year")
    
else:
    if(year % 4==0): 
        print("it is a leap year")
        
    else:
        print("it is normal year")

enter the year : 2024
it is a leap year

In [15]:
year = int(input("enter the year: "))

if(year % 100==0):
    print(f"{year} this is a century year")
    
    if(year % 400==0):
        print(f"{year} this is a not leap year")
        
else:
    if(year % 4==0):
        print("it is a leap year")
        
    else:
        print(" it is normal year")

enter the year: 2024
it is a leap year

# python loops

Loops are used to repeat a block of code n number of times or till a condition is true

for loop - is used in those cases where we know about the number of repetation or how many times a block of code is going to be executed

In [23]:
#for iteam in iterable
#iterable - is an object that hold a countable number of values eg- list, tuple, set, dict, string
fruits = [ "apple", "banana", "cheery", "manago" ]

for i in fruits:
    print(i)

apple
banana
cheery
manago

In [37]:
fruits = [ "apple", "banana", "cheery", "manago" ]
print( "cheery" in fruits)

True

In [38]:
fruits = [ "apple", "banana", "cheery", "manago" ]
print(fruits)

for i in fruits:
    print(i)

['apple', 'banana', 'cheery', 'manago']
apple
banana
cheery
manago

In [39]:
#range(starting value, ending value, stepping vaue)
for i in range(5): #This will start from 0 and will go till n-1 in this case 4
    print(i)

0
1
2
3
4

In [41]:
#print number from 5 to 15
for i in range(5, 16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

In [46]:
#create a list of fruit where user will enter the number of fruits and fruit names
num = int(input("enter the number of fruit you want to enter"))
fruits=[]
for i in range(num):
    name=input("enter the fruit name: ")
    fruits.append(name)
    
fruits = tuple(fruits)
print(fruits)

enter the number of fruit you want to enter2
enter the fruit name: mango
enter the fruit name: cheery
('mango', 'cheery')

In [8]:
#wap to create a list of employees entered by user
num=int(input("enter the name of employees"))
empl=[]
for i in range(num):
    name=input("enter the name of employee: ")
    empl.append(name)

print(empl)

enter the name of employees2
enter the name of employee: amit
enter the name of employee: nimu
['amit', 'nimu']

In [66]:
num = int(input("enter the number of employees you want to enter"))
name=[]
age=[]
for i in range(num):
#n= input ( "enter the employee name: ")
#a =int (input(" enter the age of employee"))

    name.append( input( "enter the employee name: " ) )
    name.append( int( input( "enter the age of the employee: " ) ) )
employee= {
            "name" : name,
            "age"  : age
        }
print(employee)

enter the number of employees you want to enter2
enter the employee name: anuj
enter the agge of the employee: 25
enter the employee name: himanshu
enter the agge of the employee: 23
{'name': ['anuj', 25, 'himanshu', 23], 'age': []}

In [67]:
#print alternate number between 5 and 20 steeping values

for i in range(5, 21, 2):
    print(i)

5
7
9
11
13
15
17
19

In [12]:
#wap to create a user defined dictionary which will have following keys - name, age, salary, department

num = int(input("enter the number of employees you want to enter"))
name=[]
age=[]
salary=[]
department=[]
for i in range(num):
#n= input ( "enter the employee name: ")
#a =int (input(" enter the age of employee"))

    name.append( input( "enter the employee name: " ) )
    age.append( int( input( "enter the age of the employee: " ) ) )
    salary.append( int( input( "enter the salary: " ) ) )
    department.append( input( "enter the department: " ) ) 
employee= {
            "name" : name,
            "age"  : age,
            "salary"  : salary,
            "department"  : department
        }

print(num)
print(employee)

enter the number of employees you want to enter2
enter the employee name: amit
enter the age of the employee: 25
enter the salary: 15000
enter the department: h.r
enter the employee name: kinjal
enter the age of the employee: 21
enter the salary: 2000
enter the department: letrature
2
{'name': ['amit', 'kinjal'], 'age': [25, 21], 'salary': [15000, 2000], 'department': ['h.r', 'letrature']}

In [13]:
import pandas as pd

In [77]:
num=int(input("enter the number you want"))
name=[]
age=[]
salary=[]
department=[]
for i in range(num):
    name.append(input("enter the name: "))
    age.append(int(input("enter the age: ")))
    salary.append(int(input("enter the salary: ")))
    department.append(input("enter the department: "))

employees= {
             "name" : name,
             "age"  : age,
             "salary" : salary,
             "department" : department
          }
tuple=("employees")
print(employees)

enter the number you want1
enter the name: sumit
enter the age: 25
enter the salary: 250255
enter the department: data
{'name': ['sumit'], 'age': [25], 'salary': [250255], 'department': ['data']}

In [80]:
l =[ [1, 2, 3, 4 ], [ 'a', 'b', 'c', 'd'] ]

dictl = {}

for i in range( len( l[0] ) ):
    print(i)

0
1
2
3

In [81]:
l =[ [1, 2, 3, 4 ], [ 'a', 'b', 'c', 'd'] ]

dictl = {}
key = l[1]
value = l[0]
print(key)
for i in range( len( l[0] ) ):
    print(i)

['a', 'b', 'c', 'd']
0
1
2
3

In [86]:
l =[ [1, 2, 3, 4 ], [ 'a', 'b', 'c', 'd'] ]

dictl = {}
key = l[1]
value = l[0]
print(key)
for i in range( len( l[0] ) ):
    dictl[key[i]] = value [i]
    
dictl

['a', 'b', 'c', 'd']

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [91]:
l =[ [1, 2, 3, 4 ], [ 'a', 'b', 'c', 'd'] ]

dictl = {}
key = l[1]
value = l[0]

for i in range( len( l[0] ) ):
    print(key[i])
    dictl[key[i]] = value [i]
    
dictl

a
b
c
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

break and continue statement

In [96]:
fruit = [ "cherry", "apple", "banana", "mango", "melon" ]

for i in fruit:
    #print(i)
    if(i == "banana"):
        print("banana found in the list")
    print(i)
    #break # this will terminate the loop once the condition is satisfied and nothing after this 
    #will be printed in the for loop
    #continue this will skip this part of loop once the condition is satisfied

cherry
apple
banana found in the list
banana
mango
melon

In [101]:
fruit = [ "jerry", "mouse", "tom", "pussy cat"]

for i in fruit:
    if(i=="pussy cat"):
        continue
        #print("pussy cat found in the list")
    print(i)

jerry
mouse
tom

In [102]:
import datetime

In [103]:
x=datetime.datetime.now()
x

datetime.datetime(2023, 1, 14, 12, 49, 31, 707899)

In [110]:
from datetime import date

In [111]:
y=date.today()
y

datetime.date(2023, 1, 14)

In [114]:
name="python"
for i in name:
    print(i)

p
y
t
h
o
n